
body {
    background: url(/images/image3.png); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.des{
	margin-top: 100px;
    height: 85vh;
}

.round{
	border-radius: 50%;
	max-width: 300px;
}

#left { text-align: left; }
#right { text-align: right;}

.header {
    position: relative;
    top: 0%;
    height: 20%;
    }
    /*Header CSS*/
    img#ttl {
    position: relative;
    top:50%;
    height: 50%;
    left: 0px;
    }
    img#se {
    position: relative;
    top:60%;
    height:30%;
    vertical-align:right;
    margin-right: 2%;

}
